/vendor
.idea
/backend/config/main-local.php
/backend/config/params-local.php
/console/config/main-local.php
/console/config/params-local.php
/yii
/common/config/main-local.php
/backend/config/test-local.php
/backend/web/mytest.php
